@font-face {
    font-family: 'Minecraft';
    src: url("font/minecraft.ttf");
}

/* сундук */
.chest {
    width: 100%;
/*    max-width: 600px;*/
    display: grid;
    grid-gap: 2px;
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    grid-template-columns: repeat(9, 1fr);
    background-color: #C7C7C7;
}

/* ячейка сундука */
.cell {
    image-rendering: pixelated;
    position: relative;
    aspect-ratio: 1;
    background-color: #8B8B8B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: red;
        cursor: pointer;
    }
}

.count {
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: "Minecraft", monospace;
    font-size: 1.5rem;
    user-select: none;
}
