/* сундук */
.chest {
    width: 80%;
    display: grid;
    grid-gap: 2px;
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    grid-template-columns: repeat(9, 1fr);
    background-color: #C7C7C7;
}

/* ячейка сундука */
.cell {
    aspect-ratio: 1;
    background-color: #8B8B8B;
    background-image: url(img/shalker.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: red;
        cursor: pointer;
    }
}