* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

nav {
    display: flex;
    gap: 1em;
}

nav button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0 0 10px gray;
    margin: 1em 0;
    padding: 0.6em;
    cursor: pointer;
}

nav img {
    image-rendering: pixelated;
    margin-right: 0.8em;
    height: 32px;
}

@font-face {
    font-family: 'Minecraft';
    src: url("font/minecraft.ttf");
}

.wrapper {
    margin: auto;
    max-width: 1000px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/* сундук */
.chest {
    width: 49%;
    display: grid;
    grid-gap: 2px;
    padding: 6px;
    border-radius: 4px;
    grid-template-columns: repeat(9, 1fr);
    background-color: #C7C7C7;
}

/* ячейка сундука */
.cell {
    image-rendering: pixelated;
    position: relative;
    aspect-ratio: 1;
    background-color: #8B8B8B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #777;
        cursor: pointer;
    }
}

.count {
    color: white;
    position: absolute;
    right: 5px;
    bottom: 0;
    font-family: "Minecraft", monospace;
    font-size: 1rem;
    user-select: none;
    text-shadow: 1px 1px black;
/*    text-shadow: 0px 0px 4px black;*/
}

@media (orientation: portrait){
    .wrapper {
        width: 100%;
        display: flex;
    }
    .chest {
        width: 100%;
    }
}
