body {
    font-family: monospace;
}

.icon {
    height: 100px;
    aspect-ratio: 1;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}